<!DOCTYPE html>
<html>
<head>
    <title>WiggleMap | Safe bike routes and maps with streetview</title>
    <link rel="stylesheet/less" type="text/css" href="less/styles.less">
    <link rel="stylesheet" type="text/css" href="styles/joyride-2.0.1.css">

    <!-- We're in alpha! optimizations later -->
    <script src="js/lib/less/less.min.js" type="text/javascript"></script>
    <script src="js/jquery.js"></script>
    <script src="js/lib/lodash/lodash.min.js"></script>
    <script src="js/lib/lodash/mixins.js"></script>
    <script src="js/routeHelper.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery.joyride-2.0.1.js"></script>
    <script src="js/jquery.cookie.js"></script>
  
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <meta property="og:title" content="WiggleMap">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../public/images/wiggle-thumb.png">
    <meta property="og:url" content="http://www.wigglemap.com">
    <meta property="og:site_name" content="WiggleMap"> 
    <meta property="og:description" content="WiggleMap provides bike directions with a focus on safety and presents the road from a rider's point of view. We hope this will help more people gain enough confidence to get around the city by bike.">
    <meta name="description" content="WiggleMap provides bike directions with a focus on safety and presents the road from a rider's point of view. We hope this will help more people gain enough confidence to get around the city by bike.">
    <meta property="fb:admins" content="humaninterfaces,eric.x.tang"/>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY4i1NNxuNos3bn5kx9_t5-LRtgi7RQ7I&sensor=true"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35860904-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- start Mixpanel -->
    <script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]); mixpanel.init("76124f63d05dd17d01f0fe9e1a36f2f8");</script>
    <!-- end Mixpanel -->
</head>
<body class="intro">
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=499093340120475";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <header class="masthead transition">
        <div class="title-div">
          <div class="title"><h1 class="map-title">WiggleMap</h1></div>
          <div class="fb-like" data-href="http://www.facebook.com/WiggleMap" data-send="false" data-width="450" data-show-faces="false"></div>
        </div>

        <div class="route-wrapper overlay">

            <div class="route-controls">
                <!-- Intro/What is this help -->
                <div class="halp intro">
                    <h2>
                        There's a safe bike route just for you out there.<br />
                        Find it here.
                    </h2>
    <!--                 <ol>
                        <li class="">
                            <h2>Visualize route safety.</h2>
                            <figure>
                                <img src="images/vis.png" />
                            </figure>
                        </li>
                        <li class="">
                            <h2>Adjust routes as you like.</h2>
                            <figure>
                                <img src="images/route.png" />
                            </figure>
                        </li>
                        <li class="">
                            <h2>Play a streetview preview.</h2>
                            <figure>
                                <img src="images/play.png" />
                            </figure>
                        </li>
                    </ol>   -->  
                </div>

                <div class="row-fluid">
                    <form id="locations" class="locations">
                        <div class="control-group span5">
                            <label for="start-location" class="halp">
                                Start
                            </label>

                            <div class="input-prepend">
                                <span class="add-on">A</span>
                                <div class="input-wrap">
                                    <input type="text" id="start-location" name="start-location" class="start-location" value="Alamo Square, San Francisco" placeholder="Start" />
                                </div>
                            </div>
                        </div>

                        <div class="control-group span5">
                            <label for="end-location" class="halp">
                                End
                            </label>

                            <div class="input-prepend">
                                <span class="add-on">B</span>
                                <div class="input-wrap">
                                    <input type="text" id="end-location" class="end-location" name="end-location" value="16th and Valencia, San Francisco" placeholder="End" />
                                </div>
                            </div>
                        </div>

                        <div class="control-group span2">
                            <input type="submit" id="submit-button" class="btn btn-primary btn-large" value="Find a route" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div id="canvas" class="canvas faded">
        <div id="streetview" class="secondary gmap over-map fade">
            <div id="route-info" class="over-map">
                <span class="metrics"></span>
                <a href="#" class="link btn btn-mini">List turns</a>
            </div>
        </div>
        <div id="map_canvas" class="primary gmap"></div>
    </div>

    <div class="controls">
        <div class="play-controls fade">
            <a id="prev" class="btn btn-large"><i class="icon-arrow-left"></i></a>
            <a id="play" class="btn btn-primary btn-large">
                <i class="icon-play"></i> Play
            </a>
            <a id="pause" class="btn btn-primary btn-large" style="display: none">
                <i class="icon-pause"></i> Pause
            </a>
            <a id="next" class="btn btn-large"><i class="icon-arrow-right"></i></a>
        </div>

        <div id="progress-bar" class="progress"></div>
    </div>
    <div id="directions-proxy" style="display:none;"></div>

    <!-- Joyride First run tour script -->
    <!--   /* Each tip is set within this <ol>. */
    /* This creates the order the tips are displayed */ -->    
    <ol id="joyRideTipContent">
      <li data-id="progress-bar" data-options="tipLocation:top"><h3>Safety</h3><p>This shows how safe and comfortable each part of your route is!</p></li>
      <li data-id="play" data-options="tipLocation:top;tipAnimation:fade" data-button="Next tip"><h3>Start your ride</h3><p>Start a virtual ride of your route.</p></li>   
      <li><h3>Have a fun ride!</h3><p></p></li>
    </ol>
    <script type="text/javascript">
        mixpanel.track("Home Page Loaded")
    </script>
</body>
</html>
