@import "bootstrap/bootstrap.less";

html, body {
    height: 100%;
}

body {
    position: relative;
}

form {
    margin: 0;
    text-align: center;
    height: 30px;
    padding: 12px;
}

#safety {
    position: absolute;
    top: 15px;
    left: 15px;
}

/**
 * Map
 */

.map-canvas {
    position: absolute;
    top: 54px;
    right: 0;
    min-height: 250px;
    min-width: 250px;
    width: 25%;
    height: 25%;
}

.streetview {
    position: absolute;
    top: 54px;
    bottom: 0;
    left: 0;
    width: 100%;
}

// Prevent max-width from affecting Google Maps
.gmap img {
    max-width: none;
}